.site-nav, .contacts, .menu__networks, .advantages, .works, .members, .social-networks, .clients, .address, .project-kind, .project-example {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo, .social-networks__link, .site-nav__link, .contacts__link, .networks__link, .clients__link, .address__link, .project-example__link {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.thumb {
  position: relative;
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.72;
}

body.modal--is-open,
body.menu--is-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: calc(768px - 1px)) {
  .page-header__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #ffffff;
    width: 100%;
    max-width: 480px;
    padding: 48px 40px;
  }
  .page-header__menu.menu--is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .page-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: #ffffff;
  color: #000000;
}

.page-header__menu-btn.menu--is-open .menu-btn__icon-close {
  display: block;
}

.page-header__menu-btn.menu--is-open .menu-btn__icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header__menu-btn {
    display: none;
  }
}

.menu-btn__icon-close {
  display: none;
}

.page-header__nav {
  margin-bottom: 302px;
}

@media screen and (min-width: 768px) {
  .page-header__nav {
    margin-bottom: 0;
  }
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 25px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
  }
}

.page-header__subtext {
  color: #000000;
}

.site-nav {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.site-nav__link {
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (max-width: calc(768px - 1px)) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .contacts .contacts__mail {
    font-size: 24px;
    line-height: 1.17;
  }
  .contacts .contacts__phone {
    font-size: 34px;
    line-height: 1.18;
  }
}

@media screen and (max-width: calc(480px - 1px)) {
  .contacts .contacts__phone {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts .contacts__mail .contacts__icon {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .contacts .contacts__phone .contacts__icon {
    width: 10px;
    height: 16px;
  }
}

.contacts__item:not(:first-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:first-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-left: 30px;
  }
}

.contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: inline-block;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.contacts__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 31px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.menu__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .menu__networks {
    display: none;
  }
}

.networks__item {
  position: relative;
}

.networks__item:not(:last-child) {
  margin-right: 20px;
}

.networks__item:not(:last-child)::after {
  display: block;
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.networks__link {
  color: #2196f3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: calc(768px - 1px);
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/hero-img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero-img.jpg");
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.37;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.advantages__title {
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.work--section {
  padding-top: 0;
}

@media screen and (max-width: calc(1200px - 1px)) {
  .work--section {
    display: none;
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__title {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team--section {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .members {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .members__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.members__item {
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .members__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.members__content {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
}

.members__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.members__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link--personal {
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link--personal:hover, .social-networks__link--personal:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
      flex-basis: calc((100% - 2 * 30px) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 6);
        flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .logo-address-connect__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-address-connect__container {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-bottom: 0;
    width: auto;
  }
}

.page-footer__logo-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .page-footer__logo-address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__logo-address {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 70px;
  }
}

.page-footer__logo {
  display: block;
  padding-bottom: 20px;
}

.page-footer__subtext {
  color: #ffffff;
}

.address {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--white {
  color: #ffffff;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .connect {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .connect {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.page-footer__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-networks__link--company {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link--company:hover, .social-networks__link--company:focus {
  background-color: #2196f3;
}

.subscribe {
  width: 100%;
  max-width: 450px;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    max-width: 570px;
  }
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.form-subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .form-subscribe__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form-subscribe__field {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .form-subscribe__field {
    margin-bottom: 0;
    margin-right: 12px;
    width: auto;
  }
}

.form-subscribe__input {
  padding: 15px 16px;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: inherit;
}

.form-subscribe__input:not(:placeholder-shown) {
  cursor: text;
}

.form-subscribe__input:hover ~ .form-subscribe__label,
.form-subscribe__input:focus ~ .form-subscribe__label,
.form-subscribe__input:not(:placeholder-shown) ~ .form-subscribe__label {
  -webkit-transform: translateY(-260%);
          transform: translateY(-260%);
  cursor: text;
}

@media screen and (min-width: 768px) {
  .form-subscribe__input:hover ~ .form-subscribe__label,
  .form-subscribe__input:focus ~ .form-subscribe__label,
  .form-subscribe__input:not(:placeholder-shown) ~ .form-subscribe__label {
    -webkit-transform: translate(-75px, -50%);
            transform: translate(-75px, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe__input {
    width: 358px;
  }
}

.button--subscribe {
  margin-left: 0;
  margin-right: 0;
}

.form-subscribe__label {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscribe__icon {
  margin-left: 10px;
}

.project-kind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.project-kind__item:not(:last-child) {
  margin-right: 8px;
}

.project-kind__button {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-kind__button:hover, .project-kind__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.project-example__item {
  -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
      flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.project-example__link {
  display: block;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-example__link:hover, .project-example__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-example__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-example__link:hover .project-example__overlay,
.project-example__link:focus .project-example__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-example__content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-example__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-example__text {
  font-size: 16px;
  line-height: 1.87;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.form-recall__close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  background: #ffffff;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-recall__close-btn:hover, .form-recall__close-btn:focus {
  color: #2196f3;
}

.form-recall__close-icon {
  fill: currentColor;
}

.form-recall__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .form-recall__title {
    line-height: 1.15;
  }
}

.form-recall__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-recall__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-recall__input, .form-recall__textarea {
  margin: 0;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  color: #212121;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-recall__input:hover, .form-recall__textarea:hover, .form-recall__input:focus, .form-recall__textarea:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.form-recall__input:not(:placeholder-shown), .form-recall__textarea:not(:placeholder-shown) {
  cursor: text;
  border-color: #2196f3;
}

.form-recall__icon {
  position: absolute;
  bottom: 10px;
  left: 15px;
  pointer-events: none;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-recall__input:hover + .form-recall__icon, .form-recall__textarea:hover + .form-recall__icon,
.form-recall__input:focus + .form-recall__icon,
.form-recall__textarea:focus + .form-recall__icon,
.form-recall__input:not(:placeholder-shown) + .form-recall__icon,
.form-recall__textarea:not(:placeholder-shown) + .form-recall__icon {
  fill: #2196f3;
}

.form-recall__field--textarea {
  margin-bottom: 20px;
}

.form-recall__textarea {
  letter-spacing: 0.01em;
  padding: 11px 15px;
  resize: none;
}

.form-recall__textarea:hover, .form-recall__textarea:focus {
  border-color: #2196f3;
}

.form-recall__textarea:not(:placeholder-shown) {
  cursor: text;
  border-color: #2196f3;
}

.form-recall__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-recall__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-recall__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-recall__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-recall__field-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-recall__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form-recall__label-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-recall__label-checkbox::before {
  content: '';
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-recall__input-checkbox:checked + .form-recall__label-checkbox::before {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url("../images/icons/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form-recall__aggree {
  color: #2196f3;
  margin-left: 2px;
}
/*# sourceMappingURL=main.css.map */