:root {
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --black-text-color: #000000;
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --social-link-color: #afb1b8;

  /* відступ */
  --project-gap: 30px;

  /* анімація */
  --transition-type: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.72;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--padding-top-no {
  padding-top: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* СТУДИЯ */

/* HEADER */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}
/* logo */

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}

.page-header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* .subtext {
  color: inherit;
} */

.page-header__subtext {
  color: var(--black-text-color);
}

/* nav */
.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;

  /* margin-left: 93px; */

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.site-nav__link,
.contacts__link {
  /* !!!!!!!!!!!!!!!!*/
  display: flex;
  position: relative;

  padding-top: 32px;
  padding-bottom: 31px;
  align-items: center;

  text-decoration: none;
  color: inherit;

  transition: color var(--transition-type);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

/*  */

.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

/* .contacts__link {
  display: flex;
  align-items: center;
} */

/* .contacts__link:hover {
  color: var(--accent-color);
} */

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav__link:hover,
.site-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/* header contacts */
/* .header-contacts {
  display: flex;

  margin-left: auto;
  align-items: center;

  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.header-contact:nth-child(1) {
  margin-right: 30px;
}


.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav .link:hover,
.site-nav .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus,
.logo-address .link:hover,
.logo-address .link:focus {
  color: var(--accent-color);
} */

/* MAIN */
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/background/hero-img.jpg');
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--transition-type);
}

.button:hover {
  background-color: var(--accent-hover-color);
}

/* advantages */
.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 270px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;

  background-color: var(--secondary-bg-color);
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

/* work */
.thumb {
  position: relative;
  overflow: hidden;
}

.works {
  display: flex;
  justify-content: space-between;
}

.works__title {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 100%;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */
.team__section {
  background-color: var(--secondary-bg-color);
}

.members {
  display: flex;
  justify-content: space-between;
}

.members__item {
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.members__content {
  padding: 30px 32px;
  background-color: var(--white-color);
}

.members__name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.members__profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* social icons */
.social-links {
  display: flex;
}

.social-item:not(:last-child) {
  display: block;
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.personal {
  color: var(--social-link-color);

  transition: color var(--transition-type),
    background-color var(--transition-type);
}

.personal:hover,
.personal:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* clients */
.clients {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  display: flex;

  width: 170px;
  height: 90px;
  border-radius: 4px;

  border: 1px solid var(--social-link-color);
  color: var(--social-link-color);

  transition: color var(--transition-type), border-color var(--transition-type);
}

.client:hover,
.client:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* logo */
.footer__logo {
  display: block;
  /* padding-top: 0; */
  padding-bottom: 20px;
}

.footer__subtext {
  color: var(--white-color);
}

.address {
  list-style: none;
  margin: 0;
  padding: 0;
  /* color: var(--white-color); */
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 6px;
}

.address__link {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-type);
}

.address__link--white {
  color: var(--white-color);
}

.address__link:hover {
  color: var(--accent-color);
}

.page-footer__title {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.company {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);

  transition: background-color var(--transition-type);
}

.company:hover,
.company:focus {
  background-color: var(--accent-color);
}

.form-subscribe__content {
  display: flex;
}

.form-subscribe__field {
  position: relative;
  margin-right: 12px;
  display: flex;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe-input {
  padding: 15px 16px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;

  color: inherit;
}

.subscribe-input:hover ~ .subscribe-label,
.subscribe-input:focus ~ .subscribe-label,
.subscribe-input:not(:placeholder-shown) ~ .subscribe-label {
  transform: translate(-75px, -50%);
}

.form-subscribe__label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: transform var(--transition-type);
}

.form-subscribe__icon {
  margin-left: 10px;
}

/* ПОРТФОЛИО */
.project-kinds {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project-kinds__item:not(:last-child) {
  margin-right: 8px;
}

.project-kinds__button {
  padding: 6px 22px;

  border-style: none;
  border-radius: 4px;

  cursor: pointer;
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: box-shadow var(--transition-type),
    background-color var(--transition-type), color var(--transition-type);
}

.kind-button:hover,
.kind-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* projects */
.project-example {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--project-gap));
  margin-top: calc(-1 * var(--project-gap));
}

.project-example__item {
  flex-basis: calc((100% - 3 * var(--project-gap)) / 3);
  margin-left: var(--project-gap);
  margin-top: var(--project-gap);
}

.project-example__link {
  display: block;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-example__link:hover,
.project-example__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-example__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform var(--transition-type);
}

.project:hover .overlay,
.project:focus .overlay {
  transform: translateY(0);
}

.project-example__content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-example__title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-example__text {
  font-size: 16px;
  line-height: 1.87;
}

/* modals */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-type), visibility var(--transition-type);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  padding: 40px;
  border-radius: 4px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--transition-type);
}

.form-recall__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;

  background: var(--white-color);
  color: var(--black-text-color);

  transition: color var(--transition-type);
}

.modal-close:hover,
.modal-close:focus {
  color: var(--accent-color);
}

.form-recall__close-icon {
  fill: currentColor;
}

.form-recall,
.form-subscribe {
  margin: 0;
}

.form-recall__title {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form-recall__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  cursor: pointer;
}

.form-recall__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-recall__input {
  margin: 0;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  color: var(--title-text-color);

  transition: border-color var(--transition-type);
}

.form-recall__icon {
  position: absolute;
  bottom: 10px;
  left: 15px;

  fill: var(--title-text-color);

  transition: fill var(--transition-type);

  pointer-events: none;
}

.recall-input:hover,
.recall-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.recall-input:hover ~ .recall-icon,
.recall-input:focus ~ .recall-icon,
.recall-input:not(:placeholder-shown) ~ .recall-icon {
  fill: var(--accent-color);
}

.recall-input:not(:placeholder-shown) {
  cursor: text;
  border-color: var(--accent-color);
}

.form-recall__textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-recall__textarea-input {
  padding: 11px 15px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color var(--transition-type);
}

.textarea-input:hover,
.textarea-input:focus {
  border-color: var(--accent-color);
}

.textarea-input:not(:placeholder-shown) {
  cursor: text;
  border-color: var(--accent-color);
}

.textarea-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-recall__checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-recall__checkbox-label {
  display: flex;
  align-items: center;
}
.checkbox-label::before {
  content: '';
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition: border-color var(--transition-type),
    background-color var(--transition-type);
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);

  background-image: url('../images/icons/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
}

.form-recall__contract {
  color: var(--accent-color);
  margin-left: 2px;
}
