.form-recall__field-checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  flex-wrap: wrap;

  &:hover {
    color: $accent-color;
  }
}

.form-recall__label-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  transition: $transition-type;

  &::before {
    content: '';
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;

    transition: border-color $transition-type, background-color $transition-type;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-recall__input-checkbox {
  &:checked + .form-recall__label-checkbox::before {
    background-color: $accent-color;
    border-color: $accent-color;

    background-image: url('../images/icons/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.form-recall__aggree {
  color: $accent-color;
  margin-left: 2px;
  font-size: 12px;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}
