.form-recall__field--textarea {
  margin-bottom: 20px;
}

.form-recall__textarea {
  @extend .form-recall__input;
  letter-spacing: 0.01em;
  padding: 11px 15px;
  resize: none;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  &:not(:placeholder-shown) {
    cursor: text;
    border-color: $accent-color;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
