.advantages {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.advantages__item:not(:last-child) {
  @media screen and (max-width: calc(#{$tablet} - 1px)) {
    margin-bottom: 30px;
  }
}

.advantages__item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.advantages__title {
  margin-bottom: 10px;

  text-align: center;
  color: $title-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;

  background-color: $secondary-bg-color;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}
