.clients {
  @extend %list;

  display: flex;
  justify-content: space-between;
}

.clients__link {
  @extend %link;

  display: flex;

  width: 170px;
  height: 90px;
  border-radius: 4px;

  border: 1px solid $social-link-color;
  color: $social-link-color;

  transition: color $transition-type, border-color $transition-type;

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
}
