.section--work {
  padding-top: 0;
  @media screen and (max-width: calc(#{$desktop} - 1px)) {
    display: none;
  }
}

.works {
  @extend %list;

  display: flex;
  justify-content: space-between;
}

.works__title {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 100%;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  background-color: rgba(47, 48, 58, 0.8);
}
