.contacts {
  @extend %list;

  display: flex;
  color: $primary-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  flex-direction: column-reverse;
  margin-bottom: 64px;
  line-height: 1.17;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.contacts__item:not(:first-child) {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}

.contacts__icon {
  display: none;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin-right: 8px;
    fill: currentColor;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;

    &--mail {
      width: 16px;
      height: 12px;
    }

    &--phone {
      width: 10px;
      height: 16px;
    }
  }
}

.contacts__link {
  @extend %link;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 31px;
  }

  &--mail {
    font-size: 20px;
    line-height: 1.17;

    @media screen and (min-width: $mobile) {
      font-size: 24px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 12px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &--phone {
    font-size: 30px;
    line-height: 1.17;

    @media screen and (min-width: $mobile) {
      font-size: 34px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 12px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  transition: color $transition-type;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
