.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 25px;
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;

    font-size: 26px;
    line-height: 1.2;
  }
}

.page-header__subtext {
  color: $black-text-color;
}
