.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $mobile;
  // @media screen and (max-width: calc(#{$mobile} - 1px)) {
  //   max-width: $mobile;
  // }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.logo {
  @extend %link;

  color: $accent-color;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;

  // font-size: 26px;
  // line-height: 1.2;
}

.button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  align-items: center;
  justify-content: center;

  background-color: $accent-color;
  color: $white-color;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color $transition-type;

  &:hover,
  &:focus {
    background-color: $accent-hover-color;
  }
}

.social-networks__link {
  @extend %link;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.thumb {
  position: relative;
  overflow: hidden;
}
