.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  padding-bottom: 20px;
}

.footer__subtext {
  color: $white-color;
}

.address {
  @extend %list;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 6px;
}

.address__link {
  @extend %link;
  transition: color $transition-type;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__link--white {
  color: $white-color;
}
