.subscribe {
  width: 100%;
  max-width: 450px;

  @media screen and (min-width: $desktop) {
    max-width: 570px;
  }
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    align-items: flex-start;
  }
}

.form-subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.form-subscribe__field {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: flex;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 12px;
    width: auto;
  }
}

.form-subscribe__input {
  padding: 15px 16px;
  width: 100%;

  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: inherit;

  &:not(:placeholder-shown) {
    cursor: text;
  }

  &:hover ~ .form-subscribe__label,
  &:focus ~ .form-subscribe__label,
  &:not(:placeholder-shown) ~ .form-subscribe__label {
    transform: translateY(-260%);
    cursor: text;

    @media screen and (min-width: $tablet) {
      transform: translate(-75px, -50%);
    }
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}

.button--subscribe {
  margin-left: 0;
  margin-right: 0;
}

.form-subscribe__label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: transform $transition-type;
}

.form-subscribe__icon {
  margin-left: 10px;
}
